@import '../../styles//vars.scss';

.wrapper_column{
    width: 230px;
    
    &__header{
        @extend %flex-align;
        padding: 13px 10px ;
        font-size: 14px;
        color: $white;

        &_title{
            margin-right: 4px;
            text-transform: uppercase;
        }
    }

    &__content{
        background: $list-content-bg;
        padding: 10px;

        &__list{
            min-height: 10px;
        }
    }
}